# experimental.list {{ ansible_managed }}

deb {{ 'http://' if not package__https else 'https://' }}{{ package__apt_mirror_url }}/ experimental main
{{ '# ' if not package__apt_debsrc else '' }}deb-src {{ 'http://' if not package__https else 'https://' }}{{ package__apt_mirror_url }}/ experimental main
