# experimental.list {{ ansible_managed }}

deb {{ 'http://' if not package_apt_repo_https else 'https://' }}{{ package_apt_mirror_url }}/ experimental main
{{ '# ' if not package_apt_repo_source else '' }}deb-src {{ 'http://' if not package_apt_repo_https else 'https://' }}{{ package_apt_mirror_url }}/ experimental main
